In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("rose-hall-people.csv")

In [3]:
df.head()

,id,name,slug,origin,gender,role,color,description,maxAge,birthYear,exitYear,exitType,ageIn1817,ageIn1820,ageIn1823,ageIn1826,ageIn1829,ageIn1832
0,P1,Aaron,aaron-p1,African,Male,Head Penkeeper,Negro,Able and Healthy,45.0,1787.0,1832,NaN,30,NaN,NaN,NaN,NaN,NaN
1,P2,Adam,adam-p2,Creole,Male,Cattleboy,Negro,Able and Healthy,7.0,1825.0,1832,NaN,--,--,--,1,NaN,NaN
2,P3,Adonis,adonis-p3,Creole,Male,Head Cooper,Negro,Yaws,40.0,1792.0,1832,NaN,25,NaN,NaN,NaN,NaN,NaN
3,P4,Allick,allick-p4,Creole,Male,NaN,Negro,NaN,1.0,1822.0,1823,Dead,--,--,1-Dead,NaN,NaN,NaN
4,P5,Allick,allick-p5,Creole,Male,NaN,Negro,NaN,3.0,1829.0,1832,Dead,NaN,NaN,NaN,NaN,3 mths,3-Dead

In [18]:
df.origin.value_counts(normalize=True)

Creole             0.721154
African            0.250000
not_specified      0.019231
Creole/African?    0.009615
Name: origin, dtype: float64

0       True
1      False
2      False
3      False
4      False
       ...
203    False
204    False
205    False
206    False
207    False
Name: origin, Length: 208, dtype: bool

In [21]:
df[df.origin == "Creole"].role.value_counts()

Field                             28
Hogmeat Gang                      10
Not at Work                        9
Cattleboy                          6
Cooper                             4
Overseer's House                   4
Watchman                           3
Cartman                            2
Muleman                            2
Grasscutter                        2
With Mrs. Palmer                   2
Attending Small Stock              2
Washerwoman                        2
Head Carpenter                     1
Head Cartman                       1
G.H. Attendant                     1
Hospital Attendant and Midwife     1
Field and Grasscutter              1
Blacksmith                         1
Head Boiler                        1
Hospital                           1
Domestic                           1
Field                              1
Carpenter                          1
Cartman and Field                  1
Head Driver                        1
Distiller and Field                1
Second Driver                      1
Fisherman                          1
Head Cooper                        1
Name: role, dtype: int64